body {
    background-color: black;
}

header {
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
    background-color: beige;
    height: 80px;
    width:99%;
    display: flex;
    padding: 1%;
    justify-content: flex-end;
}
header img {
    height: 100%;
    width: 80px;
}
.logo {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
}

header nav{

}
header nav a {
    border-color: black;
    border-style: solid
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
main img{
    width: 500px;
    height: 500px;
}

